/* Buttons */

.btn{
    display: inline-block;
    padding: 15px 34px;
    font-family: $fira-semibold;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1;
    background: $secondary;
    color: $white;
    text-decoration: none;
    &:hover, &:focus{
        background: $primary;
        color: $white;
    }
}

.btn-secondary{
    display: inline-block;
    width: 45px;
    height: 45px;
    font-family: $fira-semibold;
    font-size: 1.4rem;
    background: $black;
    color: $white;
    &:hover, &:focus{
        background: $white;
        color: $black;
    }
}

.btn-arrow{
    padding: 15px 52px 15px 34px;
    position: relative;
    .icon{
        width: 10px;
        height: 8px;
        position: absolute;
        top: 1px;
        bottom: 0;
        margin: auto;
        right: 30px;
        transition: $transition;
    }
    &:hover, &:focus{
        .icon{
            transform: translate3d(5px, 0, 0);
        }
    }
}

.link-arrow{
    position: relative;
    &:after{
        content: '';
        display: inline-block;
        width: 10px;
        height: 8px;
        position: relative;
        right: -10px;
        background: url('../layoutImg/arrow-right.svg') no-repeat;
        transition: $transition;
    }
    &:hover, &:focus{
        color: $secondary;
        opacity: 0.6;
        &:after{
            transform: translate3d(5px, 0, 0);
        }
    }
}

.btn-add{
    display: inline-block;
    padding: 0 0 0 22px;
    position: relative;
    font-size: 1.3rem;
    color: $secondary;
    text-decoration: underline;
    .icon{
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 1px;
        margin: auto;
    }
    &:hover, &:focus{
        color: $primary;
    }
}