/* Buttons */
a{
    &.btn{
        display: inline-block;
        padding: 14px 30px;
        background: $secondary;
        color: $white;
        font-family: $fira-medium;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
    }
    &.btn-arrow{
        position: relative;
        padding: 0 18px 0 0;
        .icon-arrow-right{
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 8px;
            transform: translate3d(0, -50%, 0);
        }
    }
}
