.list-menu{
    width: 50%;
    padding: 75px 70px 75px 140px;
    margin: 0;
    box-shadow: 0 10px 80px 0 rgba(0, 63, 97, 0.15);
    background: $white;
    .block-half &{
        width: 100%;
    }
    > li{
        margin: 0 0 35px;
        &:before{
            content: counter(ol-counter, decimal-leading-zero)'.';
            top: -2px;
            font-family: $fira;
            font-size: 20px;
            color: $text;
            .block-full &{
                color: $text;
            }
        }
        &:after{
            width: 25px;
            height: 25px;
            top: -2px;
            left: -70px;
            vertical-align: baseline;
            background: url('../layoutImg/puce-alt.svg') no-repeat;
        }
        &:nth-child(even){
            &:after{
                transform: scale(1,1);
            }
        }
        &:last-child{
            margin: 0;
        }
    }
    .link-arrow{
        font-family: $fira-medium;
        font-size: 1.8rem;
        text-decoration: none;
        color: $secondary;
        &:after{
            background: url('../layoutImg/arrow-right.svg') no-repeat;
        }
    }
}

.list-menu-fonctionnalites{
    width: 46%;
    position: absolute;
    right: 2*$gutter;
    top: -125px;
    z-index: 4;
}


@media (max-width: $desktop){
    .list-menu{
        padding: 50px 50px 50px 110px; 
    }
}

@media (max-width: $desktop-small){
    .list-menu-fonctionnalites{
        width: 70%;
        position: static;
        margin: 80px auto 0;
        &:before{
            content: '';
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: #fff;
        }
    }
}

@media (max-width: $tablet){
    .list-menu{
        width: 100%;
    }
}

@media (max-width: $phone){
    .list-menu{
        padding: 40px 40px 40px 100px; 
        > li{
            margin-bottom: 25px;
            &:before{
                font-size: 18px;
                top: -2px;
            }
        }
        .link-arrow{
            font-size: 1.6rem;
        }
    }
}

@media (max-width: $phone-small){
    .list-menu{
        padding-left: 60px; 
        li{
            margin-bottom: 20px;
            &:before{
                top: 0;
                font-size: 16px;
            }
            &:after{
                display: none;
            }
            .link-arrow{
                font-size: 1.5rem;
            }
        }
    }
}
