.list-menu{
    width: 50%;
    margin: 0;
    padding: 75px 70px 75px 140px;
    background-color: $white;
    box-shadow: -1px 10px 79px 0px rgba(0, 63, 97, 0.09);
    text-align: left;
    .block-half &{
        width: 100%;
    }
    li{
        margin: 0 0 35px;
        &:before{
            content: counter(ol-counter, decimal-leading-zero)'.';
            color: $black;
            font-family: $fira;
            font-size: 20px;
            top: -2px;
        }
        &:after{
            width: 25px;
            height: 25px;
            top: -2px;
            left: -70px;
            background: url('../layoutImg/puce-alt.svg') no-repeat;
            vertical-align: baseline;
        }
        &:nth-child(even){
            &:after{
                transform: scale(1,1);
            }
        }
        &:last-child{
            margin: 0;
        }
        .link-arrow {
            font-family: $fira-medium;
            font-size: 1.8rem;
            text-decoration: none;
            color: $secondary;
            &:after{
                background: url('../layoutImg/arrow-right.svg') no-repeat;
            }
        }
    }
}

@media (max-width: $desktop){
    .list-menu{
        padding: 50px 50px 50px 110px; 
    }
}
@media (max-width: $tablet){
    .list-menu{
        width: 100%;
    }
}
@media (max-width: $phone){
    .list-menu{
        padding: 40px 40px 40px 100px; 
        li{
            margin-bottom: 25px;
            &:before{
                font-size: 18px;
                top: -2px;
            }
            .link-arrow{
                font-size: 1.6rem;
            }
        }
    }
}
@media (max-width: $phone-small){
    .list-menu{
        padding-left: 60px; 
        li{
            margin-bottom: 20px;
            &:before{
                font-size: 16px;
                top: 0;
            }
            &:after{
                display: none;
            }
            .link-arrow{
                font-size: 1.5rem;
            }
        }
    }
}
