.members{
    display: flex;
    justify-content: space-between;
}

.member{
    width: calc(33.3333% - #{$gutter});
    height: 385px;
    padding: 25px 15px;
    position: relative;
    margin: 0;
    font-family: $fira-medium;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    color: $white;
    .block-half &{
        &:nth-child(2){
            margin-top: 80px;
        }
        &:nth-child(3){
            margin-top: 45px;
        }
    }
    .page-template-contact &{
        width: calc(18% - #{$gutter});
        position: absolute;
        // &:nth-child(1){
        //     top: 150px;
        //     left: $gutter;
        // }
        &:nth-child(1){
            top: 70px;
            right: 2*$gutter;
        }
        &:nth-child(2){
            top: 200px;
            right: calc(18% + #{3*$gutter});
        }
    }
    &:before, &:after{
        display: none;
    }
    .name, .job{
        display: block;
        position: relative;
    }
    .name{
        margin: 0 0 5px;
        font-family: $fira-medium-italic;
        color: $text;
    }
    .job{
        font-size: 1.4rem;
    }
    .bees{
        display: block;
        width: 12px;
        height: 30px;
        margin: 12px auto 0;
        fill: $white;
    }
}


@media (max-width: $desktop-small){
    .members{
        .page-template-contact &{
            display: none;
        }
    }

    .member{
        height: 330px;
    }
}

@media (max-width: $phone){
    .member{
        height: 280px;
        padding: 15px 10px;
        font-size: 1.4rem;
        .job{
            font-size: 1.2rem;
        }
        .vertical-bees{
            margin: 8px auto 0;
            width: 10px;
            height: 25px;
        }
    }
}

@media (max-width: $phone-small){
    .member{
        width: calc(33.3333% - 5px);
        height: 250px;
        font-size: 1.2rem;
        .job{
            font-size: 1rem;
        }
    }
}
