.side-links {
    position: absolute;
    top: -450px;
    z-index: 1;
    right: calc((100% - 1150px) / 2);
    > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:before,
        &:after {
            content: '';
            width: 23px;
            height: 36px;
            position: relative;
            left: 5px;
            margin: 5px 0;
            background: url('../layoutImg/puce-alt-pink.svg') no-repeat;
        }
        &:after {
            transform: scale(1, -1);
        }
    }
    li,
    a {
        border-radius: 30px;
    }
    li {
        display: inline-block;
        padding: 0;
        border: 2px solid $secondary;
        &:before,
        &:after {
            content: none;
        }
        &.active {
            > a {
                color: $secondary;
                background: $white;
            }
        }
    }
    a {
        display: block;
        padding: 4px 0 0;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        background: $secondary;
        color: $white;
        transition: $transition;
        &:hover {
            color: $secondary;
            background: $white;
        }
    }
}

.share {
    top: 0;
    a {
        padding: 0;
        font-size: 1.4rem;
        text-indent: -99em;
        overflow: hidden;
    }
    .icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (max-width: $desktop-large) {
    .side-links {
        right: 30px;
        &.sticky-stuck {
            right: 0;
        }
    }
}

@media (max-width: $desktop-small) {
    .side-links:not(.share) {
        display: none;
    }

    .share {
        position: static !important;
        > ul {
            margin: 30px 0 0 -23px;
            flex-direction: row;
        }
        li {
            padding: 0;
            &:nth-child(2) {
                margin-left: $gutter;
                margin-right: $gutter;
            }
        }
    }
}
