/******* GÉNÉRAL *******/

::-moz-selection{
    background: $primary;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $primary;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: $fira;
    font-size: 1.6em;
    line-height: 1.45;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../layoutImg/quadrillage.png') no-repeat;
    background-position: 50% 30px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    > a{
        color: inherit;
        text-decoration: none;
    }
}

h1, .h1, h2, .h2, h3{
    font-family: $fira-bold;
}

h1, .h1{
    margin: 2.4em 0 2.5em;
    font-size: 4.5rem;
    line-height: 1;
    letter-spacing: -0.02em;
    &.small-m, &.align-small{
        margin-bottom: 1em;
    }
    &.align-small{
        margin-left: 100px;
        text-align: left;
    }
    > span{
        display: block;
    }
}

h2, .h2{
    font-size: 2.2rem;
    line-height: 1.1;
    color: $primary;
}

h2{
    margin: 2.3em 0 0.9em;
}

.h2{
    margin: 0 0 1.1em;
}

h3{
    margin: 1.8em 0 1.1em;
    font-size: 1.8rem;
}

h4{
    margin: 1em 0 0;
    letter-spacing: 0.01em;
    color: $primary;
    + p{
        margin-top: 0;
    }
}

h5{
    margin: 1.67em 0;
    font-size: 2rem;
}

h6{
    margin: 2.33em 0;
    font-size: 1.8rem;
}

p{
    margin: 1em 0;
    &.big{
        font-size: 1.8rem;
    }
    &:empty{
        margin: 0;
    }
}

b, strong{
    font-family: $fira-bold;
    font-weight: 400;
    i, em{
        font-family: $fira-medium-italic;
    }
}

i, em{
    font-family: $fira-italic;
    font-style: normal;
    b, strong{
        font-family: $fira-medium-italic;
    }
}

blockquote, .star{
    width: calc(100% + 100px + #{2*$gutter});
    padding: 2em 5.5em;
    position: relative;
    margin: 4em 0 4em -100px;
    background: rgba($primary, 0.09);
    &:before{
        position: absolute;
    }
    &:after{
        content: '';
        width: 2px;
        height: 2px;
        position: absolute;
        top: 22px;
        left: 27px;
        border-radius: 50%;
        background: $primary;
    }
    p{
        margin: 0;
        font-family: $fira-italic;
        color: $grey;
        &:before, &:after{
            content: '';
            position: absolute;
            border-radius: 50%;
            background: $primary;
        }
        &:before{
            width: 2px;
            height: 2px;
            top: 29px;
            left: 24px;
        }
        &:after{
            width: 3px;
            height: 3px;
            top: 32px;
            left: 30px;
        }
    }
}
blockquote{
    &:before{
        content: '“';
        top: 12px;
        left: 29px;
        font-size: 5em;
        color: $primary;
    }
}
.star{
    &:before{
        content: '';
        width: 24px;
        height: 22px;
        top: 36px;
        left: 38px;
        background: url('../layoutImg/star.svg') no-repeat;
    }
}

ol, ul{
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}
li{
    position: relative;
    &:before, &:after{
        content: '';
        position: absolute;
    }
    &:after{
        width: 16px;
        height: 6px;
        top: 7px;
        left: -56px;
        background: url('../layoutImg/puce.svg') no-repeat;
    }
    &:nth-child(even){
        &:after{
            transform: scale(1, -1);
        }
    }
    ol, ul{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ul{
    > li{
        margin: 4px 0;
        &:before{
            width: 5px;
            height: 5px;
            top: 8px;
            left: -34px; 
            border-radius: 50%;
            background: $secondary;
        }
    }
}
ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:after{
            top: 9px;
        }
        &:before{
            content: counter(ol-counter)'.';
            top: 0;
            left: -35px;
            font-family: $fira-medium;
            color: $secondary;
        }
    }
}

dt, dd{
    display: inline;
    margin: 0;
}
dt{
    &:after{
        content: ': ';
    }
}
dd{
    + dt{
        &:before{
            content: '\A';
            white-space: pre;
        }
    }
    + dd{
        &:before{
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    &.alignone{
        margin: 3.7em 0 4em;
    }
    &.aligncenter{
        margin: 3.7em auto 4em;
    }
    &.alignleft{
        float: left;
        margin: 15px $gutter*2 15px -100px;
    }
    &.alignright{
        float: right;
        margin: 15px -100px 15px $gutter*2;
    }
    &.wide{
        width: calc(100% + 200px);
        max-width: none;
        margin: 3.7em 0 4em -100px;
    }
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: $grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 4em auto 5em;
    background: $primary;
    opacity: 0.4;
    &.large{
        height: 1px;
        max-width: 360px;
        margin: 0 auto;
    }
}


/******* LIENS / BOUTONS *******/

a{
    color: $secondary;
    text-decoration: underline;
    transition: $transition;
    &:focus, &:hover{
        color: $primary;
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: saturate(200%);
    }
}


/******* CLASSES GENERALES  *******/

.no-scroll{
    overflow: hidden;
}

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.clearfix{
    @include clearfix;
}

.relative, .wrapper-sticky{
    position: relative;
}
.sticky{
    position: fixed !important;
}
.sticky-stuck{
    position: absolute;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width{
    width: 100%;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.block-full{
    padding: 80px 0;
    clear: both;
    background: $primary;
    color: $white;
    &.default, &.no-pad{
        padding: 40px 0;
    }
    &.default{
        margin: 50px 0;
    }
    .container &, .container-small &{
        padding: 40px;
        margin: 40px 0;
    }
    a{
        color: $white;
    }
    li{
        &:after{
            background-image: url(../layoutImg/puce-white.svg);
        }
    }
    ul{
        > li{
            &:before{
                background: $white;
            }
        }
    }
    ol{
        > li{
            &:before{
                color: $white;
            }
        }
    }
    .link-arrow{
        &:after{
            background-image: url('../layoutImg/arrow-right-white.svg');
        }
    }
}
.block-pale{
    position: relative;
    z-index: 1;
    background: $white;
    color: $text;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba($primary, 0.12);
    }
}

.hide-desktop{
    display: none !important;
}

.blue{
    color: $primary;
}
.black{
    color: $black;
}

.title-icon{
    width: 100%;
    height: 55px;
    margin: 7em 0 20px;
    fill: $primary;
    &.icon-blog{
        margin-top: 0;
    }
    + *{
        margin-top: 0;
    }
}

.above-title{
    z-index: 3;
}

.js-bees{
    overflow: visible !important;
}


@media (max-width: $desktop-small){
    h1, .h1{
        &.align-small{
            margin-left: #{2*$gutter};
        }
    }

    img{
        &.alignleft, &.alignright{
            float: none;
            margin: 15px auto;
        }
        &.wide{
            width: 100vw;
            margin: 20px 0 20px calc((100vw - 100%)/-2);
        }
    }

    .container-small{
        li{
            padding: 0 0 0 72px;
            &:after {
                left: 0;
            }
            &:before{
                left: 38px; 
            }
        }
    }

    .hide-desktop{
        display: initial !important;
    }

    blockquote, .star{
        width: calc(100% + #{4*$gutter});
        margin-left: #{-2*$gutter};
    }

    .title-icon{
        margin-top: 5em;
    }
}

@media (max-width: $tablet){
    h1, .h1{
        font-size: 3.8rem;
    }

    .block-full{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    blockquote, .star{
        padding-right: #{2*$gutter};
    }

    .title-icon{
        margin-top: 3em;
    }
}

@media (max-width: $phone){
    h1, .h1{
        font-size: 3rem;
    }
}