/******* GÉNÉRAL *******/

::-moz-selection{
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $black;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body{
    font-family: $fira;
    font-size: 1.6em;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2{
    font-family: $fira-semibold;
    color: $primary;
}

h1{
    font-size: 4.5rem;
    margin: 2.45em 0 3em;
    text-align: center;
}

h2{
    font-size: 2.2rem;
    margin: 2.3em 0 0.9em;
}

h3{
    font-family: $fira-medium;
    font-size: 1.8rem;
    margin: 1.8em 0 1.1em;
}

h4{
    font-family: $fira;
    font-size: 1.6rem;
    margin: 1em 0 0;
    color: $primary;
    + p{
        margin-top: 0;
    }
}

h5{
    font-size: 2rem;
    margin: 1.67em 0;
}

h6{
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p{
    margin: 1em 0;
}

b, strong{

}

i, em{

}

blockquote{
    position: relative;
    margin: 4em 0;
    padding: 0;
    &:before{
        content: '“';
        position: absolute;
        top: -0.2em;
        left: -0.2em;
        font-size: 3.8em;
        color: $primary;
    }
    &:after{
        content: '';
        display: block;
        width: 2px;
        height: 2px;
        position: absolute;
        top: -13px;
        left: -16px;
        border-radius: 50%;
        background: $primary;
    }
    p{
        margin: 0;
        font-family: $fira-book-italic;
        color: $grey;
        &::first-letter{
            margin-left: 15px;
        }
        &:before{
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            position: absolute;
            top: -8px;
            left: -18px;
            border-radius: 50%;
            background: $primary;
        }
        &:after{
            content: '';
            display: block;
            width: 3px;
            height: 3px;
            position: absolute;
            top: -7px;
            left: -14px;
            border-radius: 50%;
            background: $primary;
        }
    }
}

ol, ul{
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}
ul{
    > li{
        position: relative;
        margin: 4px 0;
        padding: 0 0 0 15px;
        &:before{
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $secondary;
            position: absolute;
            top: 8px;
            left: 1px; 
        }
    }
    ul{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol{
    counter-reset: ol-counter;
    > li{
        position: relative;
        counter-increment: ol-counter;
        padding: 0 0 0 15px;
        &:before{
            content: counter(ol-counter)'.';
            color: $secondary;
            position: absolute;
            top: 0;
            left: 0;
            font-family: $fira-medium;
        }
    }
    ol{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

dt, dd{
    display: inline;
    margin: 0;
}
dt{
    &:after{
        content: ': ';
    }
}
dd{
    + dt{
        &:before{
            content: '\A';
            white-space: pre;
        }
    }
    + dd{
        &:before{
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img{
    display: block;
    max-width: calc(100% + 200px);
    height: auto;
    margin: 20px 0 20px -100px;
    &.aligncenter{
        margin-left: auto;
        margin-right: auto;
    }
    &.alignleft, &.alignright{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &.alignleft{
        float: left;
        margin-right: $gutter*2;
        margin-left: -100px;
    }
    &.alignright{
        float: right;
        margin-left: $gutter*2;
        margin-right: -100px;
    }
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}


/******* LIENS / BOUTONS *******/

a{
    color: $secondary;
    text-decoration: underline;
    transition: $transition;
    &:focus, &:hover{
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: saturate(200%);
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix{
    @include clearfix;
}

.pos-relative{
    position: relative;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.full-width{
    width: 100%;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}
