/******* GÉNÉRAL *******/

::-moz-selection{
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $black;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: $fira;
    font-size: 1.6em;
    line-height: 1.4;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2{
    font-family: $fira-semibold;
    color: $primary;
}

h1{
    margin: 2.4em 0 2.5em;
    font-size: 4.5rem;
    line-height: 1;
    text-align: center;
    > span{
        display: block;
        color: $black;
    }
}

h2{
    margin: 2.3em 0 0.9em;
    font-size: 2.2rem;
}

h3{
    margin: 1.8em 0 1.1em;
    font-family: $fira-medium;
    font-size: 1.8rem;
}

h4{
    margin: 1em 0 0;
    font-family: $fira;
    font-size: 1.6rem;
    color: $primary;
    + p{
        margin-top: 0;
    }
}

h5{
    margin: 1.67em 0;
    font-size: 2rem;
}

h6{
    margin: 2.33em 0;
    font-size: 1.8rem;
}

p{
    margin: 1em 0;
}

b, strong{
    font-family: $fira-bold;
    font-weight: 400;
}

i, em{
    font-family: $fira-italic;
    font-style: normal;
}

blockquote{
    padding: 2em 5.5em;
    position: relative;
    margin: 4em 0;
    background: rgba($primary, 0.09);
    &:before{
        content: '“';
        position: absolute;
        top: 12px;
        left: 29px;
        font-size: 5em;
        color: $primary;
    }
    &:after{
        content: '';
        width: 2px;
        height: 2px;
        position: absolute;
        top: 22px;
        left: 27px;
        border-radius: 50%;
        background: $primary;
    }
    p{
        margin: 0;
        font-family: $fira-book-italic;
        color: $grey;
        &:before, &:after{
            content: '';
            position: absolute;
            border-radius: 50%;
            background: $primary;
        }
        &:before{
            width: 2px;
            height: 2px;
            top: 29px;
            left: 24px;
        }
        &:after{
            width: 3px;
            height: 3px;
            top: 32px;
            left: 30px;
        }
    }
    &.star{
        &:before{
            content: '';
            width: 24px;
            height: 22px;
            top: 36px;
            left: 38px;
            background: url('../layoutImg/star.svg') no-repeat;
        }
    }
}

ol, ul{
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}
li{
    position: relative;
    &:before, &:after{
        content: '';
        position: absolute;
    }
    &:after{
        width: 16px;
        height: 6px;
        top: 7px;
        left: -56px;
        background: url('../layoutImg/puce.svg') no-repeat;
    }
    &:nth-child(even){
        &:after{
            transform: scale(1, -1);
        }
    }
}
ul{
    > li{
        margin: 4px 0;
        &:before{
            width: 5px;
            height: 5px;
            top: 8px;
            left: -34px; 
            border-radius: 50%;
            background: $secondary;
        }
    }
    ul{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:after{
            top: 9px;
        }
        &:before{
            content: counter(ol-counter)'.';
            top: 0;
            left: -35px;
            font-family: $fira-medium;
            color: $secondary;
        }
    }
    ol{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

dt, dd{
    display: inline;
    margin: 0;
}
dt{
    &:after{
        content: ': ';
    }
}
dd{
    + dt{
        &:before{
            content: '\A';
            white-space: pre;
        }
    }
    + dd{
        &:before{
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    &.alignone{
        margin: 20px 0;
    }
    &.aligncenter{
        margin: 20px auto;
    }
    &.alignleft{
        float: left;
        margin: 15px $gutter*2 15px -100px;
    }
    &.alignright{
        float: right;
        margin: 15px -100px 15px $gutter*2;
    }
    &.wide{
        width: calc(100% + 200px);
        max-width: none;
        margin: 20px 0 20px -100px;
    }
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 4em auto 5em;
    background: $primary;
}


/******* LIENS / BOUTONS *******/

a{
    color: $secondary;
    text-decoration: underline;
    transition: $transition;
    &:focus, &:hover{
        color: $primary;
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: saturate(200%);
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix{
    @include clearfix;
}

.pos-relative{
    position: relative;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.full-width{
    width: 100%;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.block-full{
    background: $primary;
    color: $white;
    padding: 80px 0;
    a{
        color: $white;
    }
    .container &, .container-small &{
        padding: 40px;
    }
}


@media (max-width: $desktop-small){
    img{
        &.alignleft, &.alignright{
            float: none;
            margin: 15px auto;
        }
        &.wide{
            width: 100vw;
            margin: 20px 0 20px calc((100vw - 100%)/-2);
        }
    }

    .container-small{
        li{
            padding: 0 0 0 72px;
            &:after {
                left: 0;
            }
            &:before{
                left: 38px; 
            }
        }
    }
}

@media (max-width: $tablet){
    .block-full{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}