.page-template-fonctionnalites{
    hr {
        margin: 0 auto;
        height: 1px;
        max-width: 360px;
    }
    .h1{
        max-width: 760px;
        margin: 2.4em auto 2.5em;
        .number-index{
            display: inline-block;
            font-family: $fira;
            position: relative;
            &:after, &:before{
                display: inline-block;
                content: '';
                height: 21px;
                width: 30px;
                background: url('../layoutImg/splash.svg');
                position: absolute;
                bottom: 12px;
            }
            &:after{
                right: -40px;
                transform: scale(-1, 1);
            }
            &:before{
                left: -40px;
            }
        }
    }
    p {
        margin: 0;
    }
    .list-menu{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .intro{
        margin: 0 auto 125px;
    }
    .section-benefits{
        position: relative;
        z-index: 3;
    }
    .side-links{
        position: absolute;
        right: calc((100% - 1150px)/2);
        top: -450px;
        z-index: 2;
        transform: translate(0,0);
        //transition: $transition;
        &.sticky, &.sticky-stuck{
            //transform: translate(0,-50%);
        }
    }
}

.subsection{
    margin: 0 0 80px;
    &.odd{
        .subsection-illu{
            order: 1;
        }
        .subsection-text{
            order: 2;
            margin:  0 0 0 70px;
            padding: 0 $col 0 0;
        }
        .subsection-link{
            width: $col*11;
        }
    }
    .star{
        margin: 10px 0;
    }
}

.subsection-content{
    display: flex;
    align-items: center;
}
.subsection-illu{
    flex: 1;
}
.subsection-text{
    width: 58%;
    margin:  0 70px 0 0;
    padding: 0 0 0 $col;
    .h2{
        margin-top: 0;
        font-size: 2.2rem;
        color: $primary;
    }
}

.subsection-link{
    text-align: right;
    width: 58%;
}

.container-benefits{
    display: flex;
    position: relative;
}
.benefits{
    width: 50%;
    li {
        font-family: $fira-medium;
        display: flex;
        margin: 0 0 30px;
        span{
            flex: 1;
            max-width: 380px;
        }
        .icon{
            width: 80px;
            height: 50px;
            margin: 0 30px 0 0;
        }
        &:before, &:after{
            content: none;
        }
    }
}

