.small-post{
    &:hover, &:focus{
        color: $secondary;
        .link-arrow{
            opacity: 0.6;
            &:after{
                transform: translate3d(5px, 0, 0);
            }
        }
    }
    .link-arrow{
        transition: $transition;
    }
}

.small-post-date{
    display: block;
    margin: 0 0 15px;
    font-family: $fira-bold;
    color: $primary;
}

.small-post-image{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    &:before{
        content: '';
        display: block;
        padding: 0 0 55%;
    }
}

.small-post-title{
    padding: 0 15px;
    margin: 1.3em 0 1.1em;
    color: $text;
    font-family: $fira;
    font-size: 1.6rem;
}


.post-single-header{
    margin-bottom: 4.4em;
    text-align: center;
}


.post{
    display: flex;
    justify-content: space-between;
    margin: 0 0 6.5em;
}
.post-txt, .post-img{
    width: calc(50% - #{$gutter});
}
.post-txt{
    order: 1;
    font-size: 1.4rem;
    > h2{
        margin: 0 0 1.4em;
    }
}
.post-img{
    height: 250px;
    overflow: hidden;
    > img{
        max-width: none;
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}

.post-meta{
    margin: 2px 0 12px;
}

.excerpt{
    text-decoration: none;
    color: $text;
}

.post-categories{
    display: inline-block;
    margin: 0;
    > li{
        &:before, &:after{
            display: none;
        }
    }
}


@media (max-width: $desktop-small){
    .post-home-title{
        padding: 0 10px;
        font-size: 1.3rem;
    }
}

@media (max-width: $tablet){
    .post-home-title{
        font-size: 1.5rem;
    }

    .post{
        display: block;
    }
    .post-txt, .post-img{
        width: 100%;
    }
    .post-txt{
        margin: 0 0 30px;
    }
    .post-img{
        height: auto;
        > img{
            max-width: 100%;
            height: auto;
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

@media (max-width: $phone-small){
    .post-home-title{
        font-size: 1.3rem;
    }
}
