.small-post{
    &:hover, &:focus{
        color: $secondary;
        .link-arrow{
            opacity: 0.6;
            &:after{
                transform: translate3d(5px, 0, 0);
            }
        }
    }
    .link-arrow{
        transition: $transition;
    }
}

.small-post-date{
    display: block;
    margin: 0 0 15px;
    font-family: $fira-bold;
    color: $primary;
}

.small-post-image{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    &:before{
        content: '';
        display: block;
        padding: 0 0 55%;
    }
}

.small-post-title{
    padding: 0 15px;
    margin: 1.3em 0 1.1em;
    color: $text;
    font-family: $fira;
    font-size: 1.6rem;
}


.post-single-header{
    margin-bottom: 4.4em;
    text-align: center;
}

.blog-title{
    width: calc(50% - #{$gutter});
}

.blog-form{
    width: calc(50% + #{$gutter});
    padding: 2*$gutter 0 2*$gutter 2*$gutter;
    position: relative;
    align-self: flex-start;
    z-index: 1;
    background: $primary;
    &:before{
        content: '';
        width: 60vw;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: $primary;
        
    }
    > .searchform{
        width: 52%;
        float: right;
    }
    > .dropdown{
        width: 40%;
        left: 2*$gutter;
        top: 2*$gutter;
        bottom: auto;
        font-size: 1.4rem;
        .js &{
            &.closed{
                li{
                    &.current{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .dropdown-list{
        > li{
            margin: 0 0 12px;
            font-size: 1.4rem;
        }
    }
}


.posts-wrapper{
    margin-bottom: 20px;
}

.post{
    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 0;
    margin: 6.5em 0 0;
}
.post-txt, .post-img{
    width: calc(50% - #{$gutter});
}
.post-txt{
    font-size: 1.4rem;
    > h2{
        margin: 0 0 1.4em;
        > a{
            &:hover, &:focus{
                color: $secondary;
            }
        }
    }
}
.post-img{
    height: 250px;
    overflow: hidden;
    > img{
        max-width: none;
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}

.post-meta{
    margin: 2px 0 12px;
}

.excerpt{
    text-decoration: none;
    color: $text;
}

.post-categories{
    display: inline-block;
    margin: 0;
    > li{
        &:before, &:after{
            display: none;
        }
    }
}

.highlighted{
    width: calc(100% + #{2*$gutter});
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    color: $white;
    a{
        color: inherit;
    }
    h2{
        color: $text;
        > a{
            &:hover, &:focus{
                color: $white;
            }
        }
    }
    .link-arrow{
        &:after{
            background-image: url('../layoutImg/arrow-right-white.svg');
        }
        &:hover, &:focus{
            color: inherit;
        }
    }
    .post-meta{
        a{
            &:hover, &:focus{
                opacity: 0.6;
            }
        }
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 170px;
        z-index: -1;
        background: $primary;
    }
}

.blog-newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8em 100px;
    margin: 6.5em 0 0;
    background: $primary;
    .container-newsletter{
        width: 300px;
        margin: 0 0 0 #{2*$gutter};
    }
}
.newsletter-txt{
    > h3{
        margin: 0;
        font-size: 2.2rem;
    }
    > p{
        margin: 0;
        color: $white;
    }
}

.pagination{
    margin: 6.5em 0 0;
    text-align: center;
    > a, > span{
        display: inline-block;
        width: 42px;
        height: 42px;
        line-height: 40px;
        overflow: hidden;
    }
    > a{
        text-decoration: none;
        color: $text;
        &:hover, &:focus{
            color: $primary;
        }
    }
    .current{
        font-family: $fira-medium;
        background: $primary;
        color: $white;
    }
    .next, .prev{
        font-size: 0.55em;
        text-indent: -99em;
        .icon{
            float: left;
            margin: 1.8em;
            transition: transform $transition;
        }
    }
    .next{
        &:hover, &:focus{
            .icon{
                transform: translate3d(3px, 0, 0);
            }
        }
    }
    .prev{
        &:hover, &:focus{
            .icon{
                transform: translate3d(-3px, 0, 0);
            }
        }
    }
    .dots{
        text-indent: -99em;
        background: url(../layoutImg/bees-dots.svg) no-repeat 50% 50%;
        background-size: 30px;
    }
}


@media (max-width: $desktop-small){
    .post-home-title{
        padding: 0 10px;
        font-size: 1.3rem;
    }

    .blog-newsletter{
        padding: 2.8em #{4*$gutter};
    }

    .highlighted{
        width: 100%;
    }
}

@media (max-width: $tablet){
    .post-home-title{
        font-size: 1.5rem;
    }

    .post{
        display: block;
        padding-right: 0;
    }
    .post-txt, .post-img{
        width: 100%;
    }
    .post-img{
        display: block;
        height: auto;
        margin: 0 0 30px;
        > img{
            width: 100%;
            height: auto;
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .highlighted{
        padding-right: 35px;
        padding-left: 35px;
        &:before{
            left: 0;
        }
    }

    .blog-newsletter{
        display: block;
        padding: 40px 35px;
        .container-newsletter{
            width: 320px;
            margin: 30px 0 0;
        }
    }
}

@media (max-width: $phone){
    .blog-newsletter{
        .container-newsletter{
            width: auto;
        }
    }

    .pagination{
        > a, > span{
            width: 28px;
            height: 28px;
            line-height: 26px;
        }
        .next, .prev{
            .icon{
                margin: 1em;
            }
        }
    }
}

@media (max-width: $phone-small){
    .post-home-title{
        font-size: 1.3rem;
    }
}
