.page-template-reseaux{
    .main{
        padding-bottom: 0;
    }
}

.channels-select-sector{
    .no-js &{
        display: none;
    }
}

.channels-list{
    text-align: center;
    transition: opacity $transition;
    &.loading{
        opacity: 0.5;
    }
}

.channels-error{
    text-align: center;
}

.channels{
    a{
        align-items: center;
        justify-content: center;
        background: #fff;
    }
    img{
        max-width: 80%;
    }
}
