.contact-us {
    display: flex;
    >div {
        width: 50%;
        p {
            max-width: 400px;
        }
    }
    h2{
        margin: 0;
    }
}

@media (max-width: $desktop-small){
    .contact-us{
        flex-direction: column;
        > div {
            width: auto;
            p {
                max-width: none;
            }
        }
    }
}