.contact-us{
    display: flex;
    padding-top: 5em;
    position: relative;
    &:before{
        content: '';
        height: 1px;
        width: 80vw;
        max-width: 360px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: $primary;
        opacity: 0.4;
    }
    > div{
        width: 50%;
        padding: 0 10%;
    }
    h2{
        margin: 0 0 30px;
    }
}


@media (max-width: $desktop-small){
    .contact-us{
        flex-direction: column;
        > div{
            width: 100%;
            padding: 0;
        }
        h2{
            text-align: center;
        }
    }
}