/* Forms */

::-webkit-input-placeholder{
    color: rgba($purple-dark, 0.35);
}
::-moz-placeholder{
    color: rgba($purple-dark, 0.35);
}
:-ms-input-placeholder{
    color: rgba($purple-dark, 0.35);
}

form{
    &.success{
        opacity: 0.5;
    }
    .btn{
        margin: 15px 0 0;
    }
}

label{
    display: inline-block;
    margin: 15px 0 5px;
    font-size: 1.4rem;
    font-family: $fira-medium;
    cursor: pointer;
    i{
        display: inline-block;
        margin: 0 0 0 15px;
        font-size: 0.9em;
        color: $primary;
    }
    .optionnal &{
        font-family: $fira;
    }
}

legend{
    display: block;
    margin: 0 0 15px;
    font-family: $fira-medium;
}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    display: block;
    width: 265px;
    max-width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba($primary, 0.2);
    background: $white;
    color: $grey;
    &[type=search]{
        padding-right: 38px;
    }
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px rgba($primary, 0.2) inset;
  	}
    &:focus{
        border-color: rgba($primary, 0.8);
    }
    &:invalid{
        // FF red borders
        box-shadow: none;
    }
}

input{
    height: 45px;
    &[type=email]{
        width: 365px;
    }
    &[type=tel]{
        width: 190px;
    }
    &[type=url]{
        width: 325px;
    }
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

.new-input{
    margin: 10px 0 0;
}

textarea{
    width: 365px;
    height: 185px;
    margin: 0 0 25px;
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}

button{
    border: 0;
}

select{
    max-width: 100%;
    height: 45px;
    padding: 0 35px 0 15px;
    border: 1px solid rgba($primary, 0.2);
    font-family: $fira-italic;
    background: $white;
    color: $grey;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand{
        display: none;
    }
    .lt-ie10 &{
        padding-right: 0;
    }
}

.select{
    display: inline-block;
    position: relative;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: $text transparent transparent transparent;
        position: absolute;
        top: 1px;
        bottom: 0;
        margin: auto;
        right: 18px;
        pointer-events: none;
        .lt-ie10 &{
            display: none;
        }
    }
}

// .field.error, .form-error, .form-success{
//     .icon{
//         width: 30px;
//         height: 15px;
//         position: absolute;
//         left: -40px;
//         top: 55px;
//     }
// }

// .field{
//     position: relative;
//     &.error{
//         color: $error;
//         input, textarea{
//             border-color: $error;
//         }
//     }
//     .btn-add{
//         position: absolute;
//         top: 55px;
//         left: 340px;
//         .no-js &{
//             display: none;
//         }
//     }
// }

.field-inline{
    position: relative;
    > label, > input{
        font-family: $fira-italic;
        color: $grey;
    }
    > label{
        position: absolute;
        top: 13px;
        left: 15px;
        margin: 0;
        pointer-events: none;
        transition: 0.1s ease-in-out;
    }
    > input{
        &:focus, &.on{
            + label{
                opacity: 0;
            }
        }
    }
}

// .form-success, .form-error{
//     position: relative;
//     font-size: 1.4rem;
//     font-family: $fira-medium;
//     .icon{
//         top: 0;
//         bottom: 1px;
//         margin: auto;
//     }
// }

// .form-success{
//     color: $success;
// }

// .form-error{
//     color: $error;
// }

.container-newsletter{
    display: flex;
    position: relative;
    z-index: 1;
    > .field-inline{
        flex: 1;
        position: static;
    }
    .btn-secondary{
        &:focus{
            background: $black;
            color: $white;
        }
    }
}
#sib_loading_gif_area{
    display: none !important;
}
.newsletter{
    .sib-container{
        > .message_area{
            background: $white !important;
            color: $success !important;
            border: 2px solid $success !important;
            padding: 14px 8px;
            font-family: $fira-bold;
            font-size: 1.4rem;
            text-align: center;
            button{
                display: none;
            }
        }
    }
}
.message_area{
    background: none !important;
    border: 0 !important;
    color: $error !important;
    margin-right: -45px;
    font-family: $fira-bold;
    button{
        display: none;
    }
}
.newsletter{
    input{
        width: 100%;
        border-right: 0;
    }
    .message_area{
        text-align: center;
    }
    .mandatory-email{
        &.needsfilled{
            &:before{
                content: '';
                position: absolute;
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
                border-style: solid;
                border-width: 2px;
                background: $white;
                z-index: -1;
            }
        }
        &.needsfilled{
            &:before{
                border-color: $error;
            }
            .message_area{
                margin-top: 4px !important;
            }
        }
    }
}

.sib-form{
    .message_area{
        font-size: 1.4rem;
    }
}

.channels-form{
    .select{
        max-width: 195px;
        margin: 0 20px 0 0;
    }
    .field-inline{
        display: inline-block;
        max-width: 220px;
        vertical-align: top;
    }
    .btn-secondary{
        .js &{
            display: none;
        }
    }
    .icon{
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0;
        bottom: 1px;
        right: 15px;
        margin: auto;
        pointer-events: none;
    }
    label{
        top: 11px;
        font-size: 1.6rem;
    }
}

.searchform{
    .btn-search{
        position: absolute;
        top: 0;
        bottom: 1px;
        right: 15px;
        margin: auto;
    }
}


// @media (max-width: $desktop-large){
//     .field.error, .form-success, .form-error{
//         .icon{
//             left: -35px;
//         }
//     }

//     .form-success{
//         margin-left: 32px;
//     }
// }

@media (max-width: $desktop){
    .channels-form{
        .select{
            margin-bottom: 10px;
        }
        .field-inline{
            margin-bottom: 15px;
        }
    }
}

// @media (max-width: $phone){
//     .field{
//         .btn-add{
//             position: relative;
//             top: 0;
//             left: 0;
//             margin: 5px 0 0;
//         }
//     }
// }
