/* Grid */

.main{
    overflow: hidden;
    padding: 3.5em 0 6em;
}

.container{
    max-width: 1210px;
    padding: 0 $gutter*2;
    margin: 0 auto;
}

.container-medium{
    max-width: 1010px;
    padding: 0 $gutter*2;
    margin: 0 auto;
}

.container-small{
    max-width: 810px;
    padding: 0 $gutter*2;
    margin: 0 auto;
}


@media (max-width: $desktop-small){
    .main{
        padding: 2em 0 2em;
    }
}
