/* Header */
.header{
    height: 170px;
    position: relative;
    z-index: 9;
    li{
        padding: 0;
        &:before, &:after{
            content: none;
        }
    }
    .container, .nav{
        display: flex;
    }
    .wrapper-logo{
        width: 22.5%;
        min-width: 200px;
        padding: 20px 0;
    }
    .nav{
        flex: 1;
        flex-direction: column;
    }
}

.wrapper-menu-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-menu-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 0 0 25px;
    position: relative;
    font-family: $fira-medium;
    font-size: 1.4rem;
    color: $white;
    background: $primary;
    &.open{
        .other-language-items{
            transform: translate3d(0, 0, 0);
        }
        .current-language-nav-item{
            color: $text;
        }
        .icon-arrow-down{
            transform: rotate(-90deg);
            fill: $text;
            transition: $transition;
        }
    }
    &:after{
        content: '';
        width: calc((100vw - 1150px)/2);
        height: 35px;
        position: absolute;
        top: 0;
        right: calc((100vw - 1150px)/-2);
        background: $primary;
    }
}

.menu-head{
    position: relative;
    margin: 0;
    z-index: 3;
    > li{
        display: inline-block;
    }
    a{
        color: $white;
        text-decoration: none;
        &:hover, &:focus{
            opacity: 0.6;
        }
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
    .icon{
        width: 14px;
        margin: -1px 8px 0 0;
    }
}
.head-connect{
    margin: 0 0 0 2.8em;
}

.container-menu-main{
    display: flex;
    position: relative;
    margin: 30px 0 0;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    > .btn{
        right: calc((100% - 1150px) /2);
        z-index: 1;
        backface-visibility: hidden;
    }
}

.menu-main{
    display: flex;
    margin: 0;
    li{
        display: inline-block;
        position: static;
        margin: 0 23px;
        transition: opacity $transition;
        &:hover{
            > a{
                color: $primary;
                &:before{
                    transform: scaleY(1);
                }
            }
            > .sub-menu{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
        &.off{
            opacity: 0.3;
        }
    }
    .current-menu-item, .current_page_parent, .current-page-ancestor{
        font-family: $fira-medium;
        > a{
            color: $primary;
            &:before{
                transform: scaleY(1);
            }
        }
    }
    a{
        display: inline-block;
        padding: 6px 0;
        position: relative;
        color: $text;
        text-decoration: none;
        &:before{
            content: '';
            height: 3px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -9px;
            background: $primary;
            transform: scaleY(0);
            transform-origin: 0 0;
            transition: transform 0.1s ease-in-out;
        }
        &:hover, &:focus{
            color: $primary;
            &:before{
                transform: scaleY(1);
            }
        }
    }
}

.sub-menu{
    padding: 20px 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 90%;
    margin: 0;
    z-index: -1;
    font-family: $fira;
    background: rgba($white, 0.8);
    opacity: 0;
    transform: translate3d(0, -400%, 0);
    transition: opacity $transition;
    &:after{
        content: '';
        border-bottom: 1px solid rgba($grey, 0.2);
        position: absolute;
        left: 22px;
        right: 0;
        bottom: 0;
    }
    a{
        &:before{
            content: none;
        }
    }
}

.btn-menu-close{
    display: none;
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    text-indent: -99em;
    &:after, &::before{
        content: '';
        width: 20px;
        height: 4px;
        position: absolute;
        background: $white;
        left: 0;
        top: 0;
    }
    &:before{
        transform: translate3d(0, 6px, 0) rotate(45deg);
    }
    &:after{
        transform: translate3d(0, 6px, 0) rotate(-45deg);
    }
    &:hover, &:focus{
        opacity: 0.6;
    }
}

.btn-menu{
    display: none;
    width: 27px;
    height: 24px;
    padding: 10px 0 10px 5px;
    position: relative;
    align-self: flex-end;
    overflow: hidden;
    text-indent: -99em;
    span{
        width: 22px;
        height: 4px;
        position: absolute;
        top: 10px;
        right: 0;
        background: $primary;
        transition: 0.2s ease-in-out 0.55s;
    }
    &:before, &:after{
        content: '';
        width: 27px;
        height: 4px;
        position: absolute;
        right: 0;
    }
    &:before{
        top: 0;
        background: $primary;
        transition: 0.2s ease-in-out 0.6s;
    }
    &:after{
        bottom: 0;
        background: $black;
        transition: 0.2s ease-in-out 0.5s;
    }
    &:hover, &:focus{
        opacity: 0.6;
    }
}

.logo-header{
    display: inline-block;
    width: 120px;
    transition: $transition;
    &:after{
        height: 47px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $white;
    }
}

.bg-mobile-nav{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    opacity: 0;
    cursor: pointer;
    background: rgba(52, 53, 55, 0.7);
    transition: opacity $transition, z-index 0s linear 0.3s;
}

.mlp-lang-switcher{
    display: flex;
    align-items: center;
    overflow: hidden;
    .current-language-nav-item{
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: color $transition;
    }
    .icon-arrow-down{
        width: 8px;
        margin: 0 8px;
        transform: rotate(0deg);
        transition: transform $transition;
    }
    li{
        margin: 0 8px 0 0;
    }
    a{
        text-decoration: none;
        color: $white;
        &:hover, &:focus{
            color: $text;
        }
    }
    .other-language-items{
        display: flex;
        position: relative;
        margin: 0;
        transform: translate3d(-200% , 0, 0);
        transition: $transition;
    }
}


@media (max-width: $desktop-large){
    .header{
        .wrapper-logo{
            width: 150px;
            min-width: 0;
        }
    }

    .menu-main{
        li{
            margin: 0 15px;
        }
    }

    .sub-menu{
        &:after{
            left: 15px;
        }
    }

    .container-menu-main{
        > .btn{
            right: 30px;
        }
    }

    .container-menu-head{
        &:after{
            width: 30px;
            right: -30px;
        }
    }
}

@media (max-width: $desktop-small){
    .header{
        z-index: auto;
        &.deployed{
            .nav, .container-menu-head{
                box-shadow: -1px 10px 52px 0 rgba(30, 80, 120, 0.2);
            }
            .container-menu-head, .container-menu-main{
                transform: translate3d(0, 0, 0);
            }
            .container-menu-head{
                &:before{
                    transform: translate3d(0, -50%, 0);
                }
            }
            .bg-mobile-nav{
                z-index: 9;
                opacity: 1;
                transition: opacity $transition;
            }
            .btn-menu{
                span{
                    width: 0;
                    transition: 0.2s ease-in-out 0.05s;
                }
                &:before{
                    width: 0;
                    transition: 0.2s ease-in-out;
                }
                &:after{
                    width: 0;
                    transition: 0.2s ease-in-out 0.1s;
                }
            }
        }
        .nav{
            flex-direction: row;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            box-shadow: none;
            transition: $transition;
        }
        .container{
            padding: 25px 30px 0;
        }
        .wrapper-logo{
            display: flex;
            width: 100%;
            padding: 0;
            position: relative;
            top: -47px;
            justify-content: space-between;
        }
    }

    .logo-header{
        &:after{
            content: '';
        }
    }

    .btn-menu, .btn-menu-close, .bg-mobile-nav{
        display: block;
    }

    .mlp-lang-switcher{
        width: 25px;
        position: relative;
        flex-direction: column;
        order: 2;
        font-size: 2.2rem;
        font-family: $fira;
        transform: translate3d(0, 0, 0);
        transition: $transition;
        li{
            margin: 35px 0 0;
        }
        .icon-arrow-down{
            display: none;
        }
        .current-language-nav-item{
            width: 100%;
            text-align: center;
        }
        .other-language-items{
            flex-direction: column;
            transform: translate3d(0, 0, 0);
            transition: none;
        }
    }

    .menu-head{
        display: flex;
        flex-direction: column;
        transition: $transition;
        > li{
            margin: 0 0 35px;
        }
        span{
            display: none;
        }
        .icon{
            width: 25px;
            height: 25px;
            margin: 0;
        }
    }

    .head-connect{
        order: 1;
    }

    .head-contact{
        order: 2;
    }

    .menu-main{
        order: 1;
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
        transform: translate3d(0, 0, 0);
        li{
            margin: 15px 0;
        }
        a{
            font-size: 1.8rem;
            &:before{
                bottom: 0;
            }
        }
    }

    .sub-menu{
        padding: 0 0 0 20px;
        position: static;
        transform: none !important;
        opacity: 1 !important;
        font-size: 0.9em;
        > li{
            display: block;
        }
        a{
            font-size: 1.6rem;
        }
        &:after{
            content: none;
        }
    }

    .container-menu-main{
        width: 340px;
        padding: 10px 0 50px 50px;
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        right: 0;
        order: 1;
        flex-direction: column;
        justify-content: initial;
        align-items: flex-start;
        overflow-y: scroll;
        background: $white;
        transform: translate3d(100%, 0, 0);
        transition: $transition 0.2s;
        > .btn{
            padding: 0;
            margin: 10px 0 0;
            font-size: 1.8rem;
            text-transform: none;
            letter-spacing: 0;
            text-align: left;
            background: none;
            color: $secondary;
            &:hover, &:focus{
                color: $primary;
            }
        }
    }

    .wrapper-menu-head{
        flex-direction: column;
        justify-content: flex-end;
        z-index: 5;
    }

    .container-menu-head{
        width: 75px;
        height: auto;
        padding: 25px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 4;
        order: 2;
        overflow: hidden;
        background: #469ce0;
        transform: translate3d(100%, 0, 0);
        transition: $transition 0.4s;
        &:after{
            content: none;
        }
        &:before{
            @include lightGradient(50vh, -338px, rgba(38, 173, 245, 0.8));
            height: 100vh;
            width: 100vh;
            margin-top: 0;
            transform: translate3d(100%, -50%, 0);
            transition: $transition 0.4s;
        }
    }
    
    @media (max-height: 750px){
        .menu-main{
            li{
                margin: 5px 0;
            }  
        }

        .mlp-lang-switcher{
            li{
                margin: 10px 0 0;
            }
        }
    }
}