.page-intro{
    display: flex;
    margin-bottom: 4.5em;
}

.page-intro-title{
    width: $col*7;
}

.page-title{
    margin: 0 0 1em;
    text-align: left;
    > span{
        display: inline;
    }
    + h2{
        margin: -1em 0 1.1em;
    }
}

.title-black{
    color: $text;
    > span{
        color: $primary;
    }
}

.page-intro-img{
    flex: 1;
}


.breadcrumbs{
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
    color: $primary;
    a{
        text-decoration: none;
        color: $primary;
        &:hover, &:focus{
            color: $secondary;
        }
    }
    .breadcrumb_last{
        color: $text;
    }
}