.intro{
    display: flex;
}

.text-intro{
    width: $col*7;
    h1{
        margin: 0 0 1em;
        text-align: left;
    }
}

.img-intro{
    flex: 1;
}


.breadcrumbs{
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
    color: $primary;
    a{
        text-decoration: none;
        color: $primary;
        &:hover, &:focus{
            color: $secondary;
        }
    }
    .breadcrumb_last{
        color: $text;
    }
}