.page-intro{
    display: flex;
    position: relative;
    margin-bottom: 4.5em;
    z-index: 2;
    &.small-margin{
        margin-bottom: 2em;
    }
}

.page-intro-title{
    width: $col*7;
    .container-medium &{
        width: 70%;
    }
}

.page-title{
    text-align: left;
    > span{
        display: inline;
    }
    + h2{
        margin: -1em 0 1.1em;
    }
}

.page-intro-img{
    flex: 1;
}


.page-title-default{
    margin-bottom: 6em;
    text-align: center;
    &.left{
        text-align: left;
    }
}


.breadcrumbs{
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
    color: $primary;
    a{
        text-decoration: none;
        color: $primary;
        &:hover, &:focus{
            color: $secondary;
        }
    }
    .breadcrumb_last{
        color: $text;
    }
    + h1{
        margin: 0 0 1em;
    }
}

.title-time{
    display: block;
    margin: -2em 0 5em;
}

@media (max-width: $desktop-large){
    .page-intro-img{
        padding-left: 20px;
    }
}
@media (max-width: $tablet){
    .title-time{
        margin: -1.2em 0 5em;
    }
    .page-intro{
        flex-wrap: wrap;
    }
    .page-intro-title{
        order: 2;
        width: 100%;
        .container-medium &{
            width: 100%;
        }
    }
    .page-intro-img{
        flex: 0 1 auto;
        order: 1;
        max-width: 200px;
        width: 100%;
        margin: 0 0 30px;
        padding-left: 0;
    }
}
