.white{
    fill: #fff;
}
.black{
    fill: #262729;
}
.blue2{
    fill: #4EBBED;
}


// Cables //

.cable-wrapper{
    fill: none;
    stroke: #009EE6;
    stroke-miterlimit: 10;
    opacity: 0.4;
}
.cable{
    opacity: 0.8;
    fill: none;
    stroke: #fff;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

// Shadows //

.shadow1{
    opacity: 0.12;
    fill: #009EE6;
}
.shadow{
    opacity: 0.12;
    fill: #45B0E1;
}
.ads-shadow{
    fill: url(#ads-shadow);
}
.market-shadow{
    fill: url(#market-shadow);
}
.comparator-shadow{
    fill: url(#comparator-shadow);
}
.retargeting-shadow{
    fill: url(#retargeting-shadow);
}
.affiliation-shadow{
    fill: url(#affiliation-shadow);
}

// Connectors //

.connector-right{
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}
.blue{
    fill: #0184BD;
}
.primary{
    fill: #0178AB;
}
.red{
    fill: #DE0C20;
}
.red2{
    fill: #BE091A;
}
.red-bottom{
    fill: #BE091A;
    stroke: #fff;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
}
.blue-flash{
    fill: #0B11D9;
}
.blue-flash2{
    fill: #050997;
}
.blue-bottom{
    fill: #050997;
    stroke: #fff;
    stroke-miterlimit: 10;
}
.orange{
    fill: #FF9C00;
}
.orange2{
    fill: #EF9200;
}
.orange-bottom{
    fill: #EF9200;
    stroke: #fff;
    stroke-miterlimit: 10;
}
.pink{
    fill: #E30C95;
}
.pink2{
    fill: #C81888;
}
.pink-bottom{
    fill: #C81888;
    stroke: #fff;
    stroke-miterlimit: 10;
}
.green{
    fill: #23DA4A;
}
.green2{
    fill: #15BC37;
}
.green-bottom{
    fill: #15BC37;
    stroke: #fff;
    stroke-miterlimit: 10;
}

// Box //

.behind{
    fill: #0178AB;
    stroke: #C6DDEB;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.box-right{
    fill: #FCFEFE;
    stroke: #C6DDEB;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.box-bottom{
    fill: #EEF6FB;
    stroke: #C6DDEB;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.box-top{
    fill: #fff;
    stroke: #C6DDEB;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

// Shop box //

.box-shop-in{
    fill: #3A3C3D;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.box-shop-in2{
    fill: #262729;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.box-shop-right{
    fill: #515153;
    stroke: #fff;
    stroke-miterlimit: 10;
}
.box-shop-bottom{
    fill: #3A3C3D;
    stroke: #fff;
    stroke-miterlimit: 10;
}

// Shop connector //

.connector-shop-right{
    fill: #4EBBED;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.connector-shop-bottom{
    fill: #2BB2EA;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.connector-shop-top{
    fill: #009DE5;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.connector-arrows{
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

// Billeys //

.money-side{
    opacity: 0.2;
    fill: #0289C8;
    stroke: #DCEAF3;
}
.money-bg{
    fill: #fff;
    stroke: #DCEAF3;
}
.euro{
    opacity: 0.7;
    fill: #0289C8;
}
.cache-top{
    opacity: 0.2;
    fill: #262729;
}

// Processor //

.proc-side{
    fill: #4DBBEE;
    stroke: #fff;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.proc-top{
    fill: #009EE6;
    stroke: #fff;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.proc-hole{
    fill: #009EE6;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.ventilation{
    opacity: 0.5;
    fill: #fff;
}

// Internal logos //

.logo-affiliation{
    clip-path: url(#clip-affiliation);
}
.logo-marketplace{
    clip-path: url(#clip-market);
}
.logo-ads{
    clip-path: url(#clip-ads);
}
.logo-retargeting {
    clip-path: url(#clip-retargeting);
}
.logo-comparator{
    clip-path: url(#clip-comparator);
}
