.offer{
    display: inline-block;
    width: 24%;
    > h2{
        width: 90%;
        padding: 25px 0;
        margin: 0 auto;
        font-family: $fira-bold;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        color: $white;
    }
    &.standard{
        .price{
            color: #6bb9e1;
        }
        > h2{
            background: #6bb9e1;
        }
    }
    &.pro{
        .price{
            color: #2890c6;
        }
        > h2{
            background: #2890c6;
        }
    }
    &.expert{
        .price{
            color: #2b5368;
        }
        > h2{
            background: #2b5368;
        }
    }
    &.enterprise{
        .price{
            color: #262729;
        }
        > h2{
            background: #262729;
        }
    }
}

.offers{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.container-slider{
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: flex-start;
}

.offer-spec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 40px;
    background: $white;
    box-shadow: 0 2px 11px 2px rgba(0, 0, 0, 0.06); 
    > a{
        padding: 15px 42px 15px 19px;
        letter-spacing: 0;
        .icon{
            right: 22px;
        }
    }
}

.price{
    margin: 0 0 15px;
    font-family: $fira-medium;
    font-size: 3.5rem;
    .small{
        position: relative;
        top: -8px;
        font-size: 2.2rem;
    }
}

.tarif-header{
    min-width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    transition: $transition;
    &.sticky, &.sticky-stuck{
        background: $white;
        box-shadow: 0 0 50px rgba(0,0,0,0.1);
    }
    > .container{
        display: flex;
        align-items: center;
    }
}

.tarif-content{
    position: relative;
    margin: 7px 0;
    ul{
        padding: 0;
    }
}

.section-feature, .section-feature > div{
    &:before, &:after{
        content: '';
        display: inline-block;
        width: 16.08%;
        position: absolute;
        top: 0;
        bottom: 0;
        background: $white;
        box-shadow: 0 2px 11px 2px rgba(0, 0, 0, 0.06);
        z-index: -1;
    }
}
.section-feature{
    padding: 10px 0;
    position: relative;
    margin: 7px 0;
    &:before, &:after{
        height: auto;
        border-radius: 0;
    }
    &:before{
        left: 33%;
    }
    &:after{
        transform: scale(1, 1) !important;
        $left02: (33 + 16.08 + (67 * (4 / 3) / 100)) * 1%; // width-title-feature + width-offer + (width-content-feature * width-gutter-offer / 100 )
        left: $left02;
    }
    > div{
        &:before{
            $right02: (16.08 + (67 * (4 / 3) / 100)) * 1%; // width-offer + (width-content-feature * width-gutter-offer / 100 )
            right: $right02;
        }
        &:after{
            right: 0;
        }
    }
    h3{
        width: 33%;
        margin: 0 0 1em;
        font-family: $fira-medium;
        font-size: 1.6rem;
        color: $primary;
        > i{
            display: block;
        }
    }
}

.color-column{
    display: flex;
    position: absolute;
    top: -7px;
    bottom: -7px;
    right: 0;
    left: 33%;
    justify-content: space-between;
    > div{
        display: inline-block;
        width: 21.6%;
        margin: 0 1.2%;
        z-index: -1;
        &.standard{
            background: #6bb9e1;
        }
        &.pro{
            background: #2890c6;
        }
        &.expert{
            background: #2b5368;
        }
        &.enterprise{
            background: #262729;
        }
    }
}

.feature{
    display: flex;
    align-items: center;
    margin: 0 0 1em;
}

.feature-content{
    display: flex;
    justify-content: space-between;
    flex: 1;
    > span{
        width: 25%;
        text-align: center;
    }
    .icon-check{
        color: #0fbc37;
    }
}

.feature-title{
    width: 33%;
}

.feature{
    &:before, &:after{
        content: none;
    }
}

.tarif-footer{
    display: flex;
    margin: 20px 0 5px 33%;
    justify-content: space-around;
    .icon{
        width: 13px;
        height: 13px;
    }
    > div{
        text-align: center;
        width: 24%;
        &:first-child{
            > .icon{
                color: #6bb9e1;
            }
        }
        &:nth-child(2){
            > .icon{
                color: #2890c6;
            }
        }
        &:nth-child(3){
            > .icon{
                color: #2b5368;
            }
        }
        &:nth-child(4){
            > .icon{
                color: #262729;
            }
        }
    }
    .column-3 &, .column-2 &, .column-1 &{
        display: none;
    }
}

.container-tarifs{
    > div{
        min-width: 1200px;
        padding: 0 0 10px;
        overflow: hidden;
    }  
}

.tarif-body{
    padding: 246px 30px 0;
}

.tarif-note{
    padding: 0 0 0 1.2%;
    margin: 50px 0 0 33%;
    font-size: 1.4rem;
    color: #808081;
    font-family: $fira-italic;
}

.column-3{
    .container-tarifs > div, .tarif-header{
        min-width: 960px;
    }
    .section-feature{
        &:after{
            content: none;
        }
        > div{
            &:before{
                $right02: (16.08 + (67 * (28 / 2) / 100)) * 1%; // width-offer + (width-content-feature * width-gutter-offer / 100 )
                right: $right02;
            }
        }
    }
}

.column-2{
    .offer{
        width: 48%;
    }
    .container-slider, .feature-title{
        width: 45%;
    }
    .container-tarifs > div, .tarif-header{
        min-width: 900px;
    }
    .section-feature{
        h3{
            width: 45%;
        }
        &:before, &:after{
            content: none;
        }
        > div{
            &:before, &:after{
                width: 26.4%;
            }
            &:before{
                left: 45%;
            }
        }
    }
    .color-column{
        left: 45%;
        > div{
            width: 43.2%;
            margin: 0 2.4%;
        }
    }
    .feature-content{
        > span{
            width: 50%;
        }
    }
}

.tarif-sections{
    &:before{
        content: '';
        display: block;
        height: 1px;
        width: 80vw;
        max-width: 360px;
        margin: 6em auto 5.5em;
        background: $primary;
        opacity: 0.4;
    }
}


@media (max-width: 1120px){
    .container-tarifs{
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;
        overflow: auto;
    }

    .column-3{
        .color-column{
            left: 40%;
            > div{
                width: 28.8%;
                margin: 0 1.6%;
            }
        }
        .offer{
            width: 32%;
        }
        .container-slider, .feature-title{
            width: 40%;
        }
        .feature-content{
            span{
                width: 33%;
            }
        }
        .section-feature{
            > div{
                &:before{
                    right: auto;
                    left: 60.4%;
                    
                }
                &:after, &:before{
                    width: 19.2%;
                }
            }
            &:before{
                left: 40%;
                width: 19.2%;
            }
            h3{
                width: 40%;
            }
        }
    }

    .tarif-body, .tarifs{
        padding: 0 30px;
    }

    .tarif-note{
        margin: 50px 0 0;
        padding: 0;
    }

    .tarif-header{
        position: static;
    }
}

@media (max-width: $phone){
    .section-feature h3, .feature-title, .feature-content > span{
        font-size: 1.4rem;
    }

    .feature-content{
        .icon-check{
            width: 13px;
        }
    }
}
